.place__image-container {
    
}


@media screen and (max-width: 1024px) {
    .place__image-container {
        max-width: 440px;
    }
}

@media screen and (max-width: 900px) {
    .place__image-container {
        max-width: 340px;
    }
}

@media screen and (max-width: 666px) {
    .place__image-container {
        max-width: 622px;
    }
}
