.cover__subtitle {   
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */
    max-width: 360px;
    text-align: center;
    color: #FFFFFF;
    min-height: 66px;
    margin: 0 auto;
}