.container__cover {
    margin: 92px auto;
}

@media screen and (max-width: 728px) {
    .container__cover {
        margin: 66px auto 64px;
    }
}



@media screen and (max-width: 768px) {
    .container__cover {
        margin: 90px auto 88px;
    }
}   