.container__cover {
    margin: 92px auto;
}



@media screen and (max-width: 768px) {
    .container__cover {
        margin-top: 65px;
        margin-bottom: 88px;
    }
}   


@media screen and (max-width: 320px) {
    .container__cover {
        margin-top: 66px;
        margin-bottom: 64px;
    }
}   