.place__paragraph {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    /* or 29px */
    margin: 0;
    color: #FFFFFF;
  }

  .place__paragraph:last-of-type {
    margin-top: 26px;
}

@media screen and (max-width: 1024px) {
  .place__paragraph:last-of-type {
    margin-top: 27px;
  }
}


@media screen and (max-width: 768px) {

  .place__paragraph {
    font-size: 16px;
  }

  .place__paragraph:last-of-type {
    margin-top: 25px;
  }
}


