.place {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 40px;
    row-gap: 48px;
    font-family: 'Inter', Arial, sans-serif;
}


@media screen and (max-width: 1024px) {
    .place {
        column-gap: 32px;
        row-gap: 48px;
    }
}


@media screen and (max-width: 768px) {
    .place {
        column-gap: 28px;
        row-gap: 48px;
    }
}



@media screen and (max-width: 622px) {
    .place {
        display: block;
    }
  }