.footer {
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
}

@media screen and (max-width: 320px) {
    .footer {
        display: flex;
        justify-content: normal;
        flex-direction: column;
        align-items: flex-start;
    }
}