.footer {
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
    font-family: 'Inter', Arial, sans-serif;
}

@media screen and (max-width: 728px) {
    .footer {
        justify-content: normal;
        flex-direction: column;
        align-items: flex-start;
    }
}