

.page {
    background-color: #2A2C2F;
}


.page__container {
    margin: 0 auto;
    padding: 28px 48px;
}





.container {
    max-width: 1280px;
    background-color: #2A2C2F;
}



.header {
    background-color: #2A2C2F;
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
}

.container__header {
    margin: auto;
}


.header__logo {
    background-color: #2A2C2F;
}



.header__links {
    display: flex;
    align-items: flex-end;
}


.header__link {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    color: #FFFFFF;
    margin-right: 18px;
}

.header__link:last-of-type {
    margin: 0;
}







.container__lead {
    margin: 0 auto;
}

.lead {
    max-width: 984px;
    background-color: #2A2C2F;
}


.lead__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
    max-width: 900px;
    margin: 56px 132px 32px;
}


.lead__subtitle {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    max-width: 640px;
    margin: 0 172px;
    height: 72px;
}

.lead__image {
    margin-top: 64px;
    width: 984px;
    height: 615px;
}

.lead__caption {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 8px 0 0;
}






.intro {
    max-width: 690px;
}


.container__intro {
    margin: 92px 442px 92px 148px;
}

.intro__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    /* identical to box height, or 107% */
    color: #FFFFFF;
    max-width: 690px;
    margin: 0;
}

.intro__text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    /* or 26px */
    color: #FFFFFF;
    margin: 40px 0 33px;
}


.intro__list {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */
    color: #FFFFFF;
    list-style: none;
    padding: 0;
    margin: 0 0 92px;
}


.intro__span {
    font-weight: bold;
}




.photo-grid {
    gap: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1184px;
}

.container__photo-grid {
    margin: auto;
}











.container__place {
    margin: auto;
    margin-top: 92px;
}

.place {
  max-width: 984px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 48px;
}

.place__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  /* or 106% */
  max-width: 460px;
  margin: 0;
  color: #FFFFFF;
}

.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


















.place__url-heading {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  /* identical to box height, or 100% */
  margin: 0 0 12px;
  letter-spacing: 2px;
  color: #AAAAAA;
}

.place__link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */
  text-decoration-line: underline;
  color: #FFFFFF;
}

.place__link:hover {
    opacity: 0.5;
}
   


.place__image {
  
}
.place__paragraphs {
  min-width: 484px;
}
.place__paragraph {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  /* or 29px */
  margin: 0;
  color: #FFFFFF;
  min-width: 484px;
}
.place__paragraph:last-of-type {
    margin-top: 26px;
}







.cover {
    max-width: 1184px;
}


.container__cover {
    margin: 92px auto;
}




.cover__background {
    background-image: url(../images/__background.png);
    max-width: 1184px;
    min-height: 740px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin: auto;
    position: relative;
    z-index: 1;
}

.cover__background::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0.3;
    z-index: -1;
}


.cover__title {   
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    /* or 106% */
    max-width: 560px;
    min-height: 152px;
    text-align: center;
    margin: 245px auto 32px;
    color: #FFFFFF;
}


.cover__subtitle {   
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */
    max-width: 360px;
    text-align: center;
    margin: 0 auto 245px;
    color: #FFFFFF;
    min-height: 66px;
}





.container__footer {
    margin: 0 auto;
}


.footer {
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
    min-height: 18px;
}

.footer__links {
    
}






.footer__link {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */
    color: #FFFFFF;
    margin-right: 18px;
}

.footer__link:last-of-type {
    margin: 0;
}

.footer__author {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    margin: 0;
    text-align: right;
    color: #FFFFFF;
}





































